# Ignore directories
__pycache__/
autres/
env/

# Ignore all .py files
*.py

# not ignore main.py
!main.py

# not ignore specific files
!instruction_project.md
!README.md
!requirements.txt
!setup.cfg
!pyproject.toml
!litrevu/