{% load static %}
<html>
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>LITReview
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reviews/styles.css' %}" />
</head>

<body>
    <div class="container">
        <header>
            <h1>LITReview</h1>
            <nav class="navigation">
                <ul class="menu">
                    <li><a href="{% url 'flux' %}">Flux</a></li>
                    <li><a href="{% url 'posts' %}">Posts</a></li>
                    <li><a href="{% url 'subscribe' %}">Abonnements</a></li>
                    <li><a href="{% url 'logout' %}" onclick="return confirm('Vous allez être déconnecté !')">Se
                            déconnecter</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main id="main-content">
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div id="footer-content">
                <p>© 04-2024 LITReview - GL project</p>
            </div>
        </footer>
    </div>
</body>

</html>