{% extends 'authentification/base.html' %}


{% block content %}
<div class="home">
    <section class="signup">
        <h2>Inscrivez-vous maintenant</h2>
        <a href="{% url 'signup' %}" class="btn">S'inscrire</a>
    </section>
    <section class="login">
        <h2>Connectez-vous</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <input type="text" name="username" placeholder="Nom d'utilisateur" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit" class="btn">Se connecter</button>
        </form>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
</div>
{% endblock %}