{% extends 'feeds/base.html' %}
{% load custom_filters %}
{% block content %}
<div class="form-container">
    <h2>Flux</h2>
    <div class="button-container">
        <a href="{% url 'create_ticket' %}" class="btn">Demander critique</a>
        <a href="{% url 'create_review' %}" class="btn">Créer une critique</a>
    </div>
    <div id="feed">
        {% for post in posts %}
        <div class="post">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="Image pour {{ post.title }}" style="width:100%;" />
            {% else %}
            <p>Pas d'image disponible.</p>
            {% endif %}
            <br><br />
            <span>Posté par: {{ post.user.username }} le {{ post.created_at|date:"d/m/Y H:i" }}</span>
        </div>
        {% empty %}
        <p>Aucun post à afficher.</p>
        {% endfor %}
    </div>
    <div class="loading">Chargement...</div>
</div>






<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            loadMorePosts();
        }
    });

    function loadMorePosts() {
        $(".loading").show();
        setTimeout(function () {
            $(".loading").hide();
            $("#flux").append(`<div class="post"><h3>Nouveau Post</h3><p>Contenu du nouveau post.</p><span>Posté par: Auteur</span><div class="separator"></div></div>`);
        }, 2000);
    }
</script>
{% endblock %}