{% extends 'feeds/base.html' %}
{% block content %}
<div class="form-container">
    <h2>Flux</h2>
    <div class="button-container">
        <a href="{% url 'create_ticket' %}" class="btn">Demander critique</a>
        <a href="{% url 'create_review' %}" class="btn">Créer une critique</a>
    </div>
    <div id="feed">
        {% for post in posts %}
        {% if post.ticket %}
        <div class="post review">
            <h3>Critique :</h3>
            <h3>{{ post.headline }}</h3>
            <p>{{ post.body }}</p>
            <p>Note: {{ post.rating }}</p>
            <br><br />
            <span>Posté par: {{ post.user.username }} le {{ post.created_at|date:"d/m/Y H:i" }}</span>
            <div class="separator"></div>
            <div class="ticket-response">
                <h4>En réponse à :</h4>
                <h5>Demande de critique sur :</h5>
                <h5>{{ post.ticket.title }}</h5>
                <p>{{ post.ticket.description }}</p>
                {% if post.ticket.image %}
                <img src="{{ post.ticket.image.url }}" alt="Image pour {{ post.ticket.title }}">
                {% endif %}
                <br><br />
                <span>Posté par: {{ post.ticket.user.username }} le {{ post.ticket.created_at|date:"d/m/Y H:i" }}</span>
            </div>
        </div>
        {% else %}
        <div class="post ticket">
            <h3>Demande de critique sur :</h3>
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="Image pour {{ post.title }}" style="width:100%;" />
            {% endif %}
            <br><br />
            <span>Posté par: {{ post.user.username }} le {{ post.created_at|date:"d/m/Y H:i" }}</span>
            <br><br />
            <a href="{% url 'create_reponse_review' post.id %}" class="btn">Répondre</a>
        </div>
        {% endif %}
        {% empty %}
        <p>Aucun post à afficher.</p>
        {% endfor %}
    </div>
    <div class="loading">Chargement...</div>
</div>

<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            loadMorePosts();
        }
    });

    function loadMorePosts() {
        $(".loading").show();
        setTimeout(function () {
            $(".loading").hide();
            $("#flux").append(`<div class="post"><h3>Nouveau Post</h3><p>Contenu du nouveau post.</p><span>Posté par: Auteur</span><div class="separator"></div></div>`);
        }, 2000);
    }
</script>
{% endblock %}