{% extends 'feeds/base.html' %}
{% load custom_filters %}



{% block content %}
<div class="form-container">
    <h2>Vos posts</h2>
    <div id="my-posts">
        <h3>Vos critiques</h3>
        {% for post in my_posts %}
        {% if post.ticket %}
        <div class="post review">
            <h3>{{ post.headline }}</h3>
            <p>{{ post.body }}</p>
            <p>Note: {{ post.rating }}</p>
            <br><br />
            <span>Posté par: {{ post.user.username }} le {{ post.created_at|date:"d/m/Y H:i" }}</span>
            <div class="separator"></div>

            <div class="ticket-response">
                <h4>En réponse à :</h4>
                <h5>{{ post.ticket.title }}</h5>
                <p>{{ post.ticket.description }}</p>
                {% if post.ticket.image %}
                <img src="{{ post.ticket.image.url }}" alt="Image pour {{ post.ticket.title }}">
                {% endif %}
                <br><br />
                <span>Posté par: {{ post.ticket.user.username }} le {{ post.ticket.created_at|date:"d/m/Y H:i" }}</span>
            </div>
            <div class="post-actions">
                <a href="{% url 'modify_review' post.id %}" class="btn">Éditer</a>
                <a href="#" class="btn" onclick="confirmDelete({{ post.id }}, 'review'); return false;">Supprimer</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="separator"></div>
        <h3>Vos tickets</h3>
        {% for post in my_posts %}
        {% if not post.ticket %}
        <div class="post ticket">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="Image pour {{ post.title }}">
            {% endif %}
            <br><br />
            <span>Posté par: {{ post.user.username }} le {{ post.created_at|date:"d/m/Y H:i" }}</span>
            <div class="post-actions">
                <a href="{% url 'edit_ticket' post.id %}" class="btn">Éditer</a>
                <a href="#" class="btn" onclick="confirmDelete({{ post.id }}, 'ticket'); return false;">Supprimer</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>




<script>
    function confirmDelete(postId, type) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        let url = '';
        if (type === 'review') {
            url = `/delete_review/${postId}/`;
        } else {
            url = `/delete_ticket/${postId}/`;
        }
        if (confirm('Êtes-vous sûr de vouloir supprimer ce post ?')) {
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrfToken
                },
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Échec de la suppression: ' + response.statusText);
                }
            }).catch(error => {
                console.error('Erreur:', error);
            });
        }
    }
</script>



<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            loadMorePosts();
        }
    });

    function loadMorePosts() {
        $(".loading").show();
        setTimeout(function () {
            $(".loading").hide();
            $("#feed").append(`<div class="post"><h3>Nouveau Post</h3><p>Contenu du nouveau post.</p><span>Posté par: Auteur</span><div class="separator"></div></div>`);
        }, 2000);
    }
</script>
{% endblock %}